In [1]:
import pandas as pd

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%203/data/ChurnData.csv"
df = pd.read_csv(url)
churn_df = df[['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip', 'churn']]
churn_df['churn'] = churn_df['churn'].astype('int')
churn_df

C:\Users\asuso\AppData\Local\Temp\ipykernel_15000\1370261100.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_df['churn'] = churn_df['churn'].astype('int')

     tenure   age  address  income   ed  employ  equip  churn
0      11.0  33.0      7.0   136.0  5.0     5.0    0.0      1
1      33.0  33.0     12.0    33.0  2.0     0.0    0.0      1
2      23.0  30.0      9.0    30.0  1.0     2.0    0.0      0
3      38.0  35.0      5.0    76.0  2.0    10.0    1.0      0
4       7.0  35.0     14.0    80.0  2.0    15.0    0.0      0
..      ...   ...      ...     ...  ...     ...    ...    ...
195    55.0  44.0     24.0    83.0  1.0    23.0    0.0      0
196    34.0  23.0      3.0    24.0  1.0     7.0    0.0      0
197     6.0  32.0     10.0    47.0  1.0    10.0    0.0      0
198    24.0  30.0      0.0    25.0  4.0     5.0    0.0      1
199    61.0  50.0     16.0   190.0  2.0    22.0    1.0      0

[200 rows x 8 columns]

In [ ]:
import numpy as np
for i in range(50,0,-1):
    if i%2 != 0:
        print(i,end = "   ")

49   47   45   43   41   39   37   35   33   31   29   27   25   23   21   19   17   15   13   11   9   7   5   3   1

In [ ]:
a = int(input("Start"))
b = int(input("End"))
count = 0
def isPrime(a,b):
    for i in range(a,b+1):
        while j<= i:
            if i%j == 0:
                count = count+1
                j = j+1
                i = i +1
            else:
                j=j+1
                i = i+1